#reset-modal{class: "#{modal_css_class}", tabindex: "-1",
             role: "dialog", :"aria-hidden" => "true"}
  .modal-header
    %h3
      = t('.title')
  .modal-body
    %p
      = t('.message')
  .modal-footer
    %button#reset-modal-cancel-button.btn{:"data-dismiss" => "modal", :"aria-hidden" => "true"}<
      %i.icon-remove
      = t('common.cancel')
    %button#reset-modal-ok-button.btn{class: "btn-primary"}<
      %i.icon-off
      = t('common.reset')
