%xml{:id => 'toolbox', :style => 'display: none'}
  - category = 'data'
  %category{:name => 'データ'}
    -# キャラクター
    %block{:type => 'variables_set'}
      = toolbox_character_field
      %value{:name => 'VALUE'}
        %block{:type => 'data_characters'}
          %value{:name => 'COSTUME'}
            %block{:type => 'looks_preset_images'}
          = toolbox_number_value('X')
          = toolbox_number_value('Y')

    -# テキスト
    %block{:type => 'text'}
      %field{:name => 'TEXT'}<
        文章

    -# 数値
    %block{:type => 'math_number'}
      %field{:name => 'NUM'}<
        0

    -# プリセットの画像
    %block{:type => 'looks_preset_images'}

    -# プリセットの音
    %block{:type => 'sound_preset_sounds'}

  - category = 'motion'
  %category{:name => '動き'}
    -# (　)歩動かす
    %block{:type => "#{category}_move"}
      = toolbox_number_value('STEP', 10)

    -# 時計回りに(　)度回す
    %block{:type => "#{category}_rotate_right"}
      = toolbox_number_value('ANGLE', 15)

    -# 半時計回りに(　)度回す
    %block{:type => "#{category}_rotate_left"}
      = toolbox_number_value('ANGLE', 15)

    -# (　)度に向ける
    %block{:type => "#{category}_set_angle"}
      = toolbox_number_value('ANGLE', 90)

    -# マウスポインターへ向ける
    %block{:type => "#{category}_point_towards_mouse"}

    -# [▼]へ向ける
    %block{:type => "#{category}_point_towards_character"}
      = toolbox_character_field

    -# x座標を(　)、y座標を(　)にする
    %block{:type => "#{category}_set_x_y"}
      = toolbox_number_value('X')
      = toolbox_number_value('Y')

    -# マウスポインターへ行く
    %block{:type => "#{category}_go_to_mouse"}

    -# [▼]へ行く
    %block{:type => "#{category}_go_to_character"}

    -# (　)秒でx座標を(　)、y座標を(　)に変える
    %block{:type => "#{category}_glide_to_x_y"}
      = toolbox_number_value('SEC', 1)
      = toolbox_number_value('X')
      = toolbox_number_value('Y')

    -# x座標を(　)ずつ変える
    %block{:type => "#{category}_change_x_by"}
      = toolbox_number_value('X', 10)

    -# x座標を(　)にする
    %block{:type => "#{category}_set_x"}
      = toolbox_number_value('X', 0)

    -# y座標を(　)ずつ変える
    %block{:type => "#{category}_change_y_by"}
      = toolbox_number_value('Y', 10)

    -# y座標を(　)にする
    %block{:type => "#{category}_set_y"}
      = toolbox_number_value('Y', 0)

    -# もし端に着いたら、跳ね返る
    %block{:type => "#{category}_turn_if_reach_wall"}

    -# 条件:端に着いた
    %block{:type => "#{category}_reach_wall"}

    -# 跳ね返る
    %block{:type => "#{category}_turn"}

    -# 回転方法を[▼]にする
    %block{:type => "#{category}_set_rotation_style"}

    -# 変数:x座標
    %block{:type => "#{category}_self_x"}

    -# 変数:y座標
    %block{:type => "#{category}_self_y"}

    -# 変数:向き
    %block{:type => "#{category}_self_angle"}

  - category = 'looks'
  %category{:name => '見た目'}
    -# [　]と(　)秒言う
    %block{:type => "#{category}_say_second"}
      = toolbox_text_value('TEXT', 'こんにちは！')
      = toolbox_number_value('SEC', 2)

    -# [　]と言う
    %block{:type => "#{category}_say"}
      = toolbox_text_value('TEXT', 'こんにちは！')

    -# [　]と(　)秒考える
    %block{:type => "#{category}_think_second"}
      = toolbox_text_value('TEXT', 'ふーん')
      = toolbox_number_value('SEC', 2)

    -# [　]と考える
    %block{:type => "#{category}_think"}
      = toolbox_text_value('TEXT', 'ふーん')

    -# 表示する
    %block{:type => "#{category}_show"}

    -# 隠す
    %block{:type => "#{category}_hide"}

    -# 消滅する
    %block{:type => "#{category}_vanish"}

    -# 大きさを(　)％ずつ変える
    %block{:type => "#{category}_change_scale_by"}
      = toolbox_number_value('SCALE', 10)

    -# 大きさを(　)％にする
    %block{:type => "#{category}_set_scale"}
      = toolbox_number_value('SCALE', 100)

    -# 変数:大きさ
    %block{:type => "#{category}_self_scale"}

    -# [▼プリセット画像]
    %block{:type => "#{category}_preset_images"}

  - category = 'sound'
  %category{:name => '音'}
    -# [▼]の音を鳴らす
    %block{:type => "#{category}_play"}
      %value{:name => 'NAME'}
        %block{:type => "#{category}_preset_sounds"}

    -# すべての音を止める
    %block{:type => "#{category}_stop"}

    -# 変数:ボリューム
    %block{:type => "#{category}_volume"}

  - category = 'events'
  %category{:name => 'イベント'}
    -# はじまったとき
    %block{:type => "#{category}_on_start"}

    -# キーボードの[▼キー]が[▼押されたとき/押され続けているとき]
    %block{:type => "#{category}_on_key_push_or_down"}
      %field{:name => 'KEY'}<
        K_SPACE

    -# キャラクターが[▼クリックされたとき/クリックされ続けているとき]
    %block{:type => "#{category}_on_mouse_push_or_down"}

    -# キャラクターが[▼キャラクター]にぶつかったとき
    %block{:type => "#{category}_on_hit"}

  - category = 'control'
  %category{:name => '制御'}
    -# (　)秒待つ
    %block{:type => "#{category}_sleep"}
      = toolbox_number_value('SEC', 1)

    -# ずっと
    %block{:type => "#{category}_loop"}

    -# もし<　>なら
    %block{:type => "#{category}_if"}

    -# もし<　>なら～でなければ
    %block{:type => "#{category}_if_else"}

    -# (　)回繰り返す
    %block{:type => "#{category}_times"}
      = toolbox_number_value('COUNT', 10)

    -# <　>まで待つ
    %block{:type => "#{category}_await_while"}

    -# <　>まで繰り返す
    %block{:type => "#{category}_while"}

    -# 1フレーム待つ
    %block{:type => "#{category}_await"}

  - category = 'operators'
  %category{:name => '演算'}
    -# 変数:(　) + (　)
    %block{:type => "#{category}_add"}

    -# 変数:(　) - (　)
    %block{:type => "#{category}_minus"}

    -# 変数:(　) * (　)
    %block{:type => "#{category}_multiply"}

    -# 変数:(　) / (　)
    %block{:type => "#{category}_divide"}

    -# 条件:(　) < (　)
    %block{:type => "#{category}_compare_gt"}

    -# 条件:(　) <= (　)
    %block{:type => "#{category}_compare_gte"}

    -# 条件:(　) = (　)
    %block{:type => "#{category}_compare_eq"}

    -# 条件:(　) >= (　)
    %block{:type => "#{category}_compare_lte"}

    -# 条件:(　) > (　)
    %block{:type => "#{category}_compare_lt"}

  %category{:name => '変数', :custom => 'VARIABLE'}

  - category = 'ruby'
  %category{:name => 'Ruby'}
    -# 文
    %block{:type => "#{category}_statement"}

    -# 式
    %block{:type => "#{category}_expression"}

    -# コメント
    %block{:type => "#{category}_comment"}

  - category = 'hardware'
  %category{:name => 'ハードウェア'}
    -# ハードウェアを準備する
    %block{:type => "#{category}_init_hardware"}

    %category{:name => 'LED'}
      -# LED[▼]をオンにする
      %block{:type => "#{category}_led_on"}

      -# LED[▼]をオフにする
      %block{:type => "#{category}_led_off"}

    %category{:name => 'RGB LED'}
      -# RGB LED[▼ピン]を[カラー]にする
      %block{:type => "#{category}_rgb_led_on"}

      -# RGB LED[▼ピン]をオフにする
      %block{:type => "#{category}_rgb_led_off"}

    %category{:name => '7セグディスプレイ'}
      -# 7セグディスプレイに[▼0-9]を表示する
      %block{:type => "#{category}_seven_segment_display_show"}

      -# 7セグディスプレイをオフにする
      %block{:type => "#{category}_seven_segment_display_off"}

    %category{:name => 'LCD'}
      -# LCDに(　)を表示する
      %block{:type => "#{category}_lcd_puts"}
        = toolbox_text_value('TEXT', 'Hello')

      -# LCDをクリアする
      %block{:type => "#{category}_lcd_clear"}

    %category{:name => 'ボタン'}
      -# 条件:ボタン[▼]を押している
      %block{:type => "#{category}_button_down"}

      -# 条件:ボタン[▼]を離している
      %block{:type => "#{category}_button_up"}

      -# ボタン[▼]を押したとき
      %block{:type => "#{category}_on_button_down"}
        = toolbox_character_field

      -# ボタン[▼]を離したとき
      %block{:type => "#{category}_on_button_up"}
        = toolbox_character_field

    %category{:name => 'センサー'}
      -# センサー[▼PIN]
      %block{:type => "#{category}_sensor_value"}

      -# センサー[▼PIN]が変化したとき
      %block{:type => "#{category}_on_sensor_change"}
        = toolbox_character_field
