<!DOCTYPE html>
<html>
<head>
  <title>smalruby-editor</title>
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "/blockly/blockly_compressed.js", "/blockly/blocks_compressed.js", "/blockly/msg/js/ja.js" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
