<!DOCTYPE html>
<html>
<head>
  <title>
    <%= t('common.smalruby_editor', version: SmalrubyEditor::VERSION) %>
  </title>
  <%= favicon_link_tag %>
  <link rel="apple-touch-icon" href="apple-touch-icon.png" />
  <meta name="application-name" content="Smalruby" />
  <meta name="msapplication-TileColor" content="#0088cc" />
  <meta name="msapplication-square70x70logo" content="tiny.png" />
  <meta name="msapplication-square150x150logo" content="square.png" />
  <meta name="msapplication-wide310x150logo" content="wide.png" />
  <meta name="msapplication-square310x310logo" content="large.png" />
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= stylesheet_link_tag    "toolbox_#{toolbox_css_name}", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "blockly/msg/js/#{blockly_message_locale_name}" %>
  <%= javascript_include_tag "msg/#{blockly_message_default_locale_name}" %>
  <%= javascript_include_tag "msg/#{blockly_message_locale_name}" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
